.footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    height: 8vh;
    justify-content: flex-end;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .social-media-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .social-media-links li {
    margin-right: 10px;
  }
  
  .social-media-links li:last-child {
    margin-right: 0;
  }
  
  .social-media-links a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem;
  }
  