.footer {
    background-color: transparent;
    color: white;
    padding: 20px;
    display: flex;
    height: 8vh;
    justify-content: flex-end;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .social-media-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    size: auto;
  }
  
  .social-media-links li {
    margin-right: 10px;
  }
  
  .social-media-links li:last-child {
    margin-right: 0;
  }
  
  .social-media-links a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem;
  }

  .iconFB{
    transition: 0.5s all ease-in-out;
  }
  .iconFB:hover{
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
  }
  .iconFB a:hover{
    color: #3b5998;
  }
  
  .iconTwt {
    transition: 0.5s all ease-in-out;
  }
  .iconTwt:hover {
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
  }
  .iconTwt a:hover{
    color: #1da1f2;
  }

  .iconIG {
    transition: 0.5s all ease-in-out;
  }
  .iconIG:hover {
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
  }
  .iconIG a:hover {
    color: rgb(202, 10, 122);
  }

  .iconEmail {
    transition: 0.5s all ease-in-out;
  }
  .iconEmail:hover {
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
  }
