* {
  margin: 0;
  /* border: 1px solid red; */

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;

  height: 8vh;
  background-color: transparent;
}

.navbar-logo {
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 3rem;

}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

.navbar-items a {

  text-decoration: none;
  color: rgba(255, 255, 255, 0.486);
  font-size: 2rem;
  margin-right: 2rem;
}

.navbar-items a:hover {
  color: white;
}

.navbarMenu {
  display: flex;
  position: absolute;
  right: 3%;
  background-color: transparent;
  width: 800px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateX(90px);

}

.navbarMenu.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.navbarMenu a {
  font-size: medium;
  padding: 5px 10px;
  text-align: center;
}

.SpotifyBtn {

  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.SpotifyBtn:hover {
  color: white;
  transform: scale(1.1);
}

.MenuIcon {
  margin-right: 10px;

}

.spotify-icon {
  margin: 2% 0% 0% 0.5rem;

}

@media screen and (max-width: 400px) {
  .navbar-logo {
    font-size: 1rem;
    padding: 1rem;
  }

  .navbar-items {
    margin-right: 0;
    padding: 0;
  }

  .navbarMenu {

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    background-color: blue;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateY(-50%);

  }

  .navbarMenu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(60%);
  }
}