* {
  margin: 0;
  
  /*border: 1px solid red;*/
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;

    height: 10vh;
    background-color: transparent;
  }
  
  .navbar-logo {
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;

  }

  .navbar-items a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
  }

  .navbarMenu a{
    font-size: medium;
  }

  .SpotifyBtn{
    color: white;
    border-radius: 30px;
    border: none;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }

  .MenuIcon{
    margin-right: 10px;
  }


  