* {
  margin: 0;
  
  /* border: 1px solid red; */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px 20px 0 40px;
    height: 5vh;
    background-color: transparent;
  }
  
  .navbar-logo {
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;

  }
  .navbar-items {
    display: flex;
  }
  .navbar-items a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
  }
  
  .navbar-items a:hover {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    
  }
