* {
    margin: 0;
    /* border: 1px solid red; */
  
  }

.pfpEdward{
    max-height: 20vh;
    border-radius: 20px;
    margin: 0.5rem;
}
.pfpDevin{
    max-height: 20vh;
    border-radius: 20px;
    margin: 0.5rem;
}
.whoweare {
    display: flex;
   
    justify-content: center;
    align-items: center;
}
h1, h3, h2 {
    color:white;
}
.about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ProfilePictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
 
}
.ProfilePictures div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8%;

  
}
.description {
    margin: 2%;
    text-align: center;
    color: white;
}