
.searchContainer {
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

.searchBox {
    background-color: rgba(128, 128, 128, 0.315);
    width: 30%;
    height: 2.3rem;
    border-radius: 1rem;
    border: none;
    color: white;
    padding-left: 14px;

}
.searchBox::placeholder {
    color: rgba(255, 255, 255, 0.466);
 
  }
 

.searchPageBtn {
    color: white;
    background-color: rgba(128, 128, 128, 0.315);
    padding: 0px 20px 0px 20px;
    height: 2.3rem;
    border-radius: 1rem;
    border: none;
    margin: 2rem;
    cursor: pointer;
}

.buttonsSection {
    display: flex;
}
.SearchPageSpotifyIcon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.connectSpotifyBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1db954;
    cursor: pointer;
}